@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* regole generali di pagina */
body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

/* regole ricorrenti pagina */
.section-title {
  padding-top: 30px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

/* regole header */

header {
  background-color: #1abc9c;
}

header > nav {
  height: 15%;
  background-color: #345;
  color: white;
}

nav a:hover {
  text-decoration: none;
}

nav li a:hover {
  color: #1abc9c;
}

header nav h3 {
  line-height: 60px;
}

header nav .row ul li {
  padding: 0 1%;
  line-height: 100px;
  font-weight: bold;
}

.jumbotrone {
  text-align: center;
}

[class*="col-"] {
  background-color: ;
}
nav a {
  padding:10px;
}
nav a , .jumbotrone ul li a{
  text-decoration: none;
  color: white;
}
header nav .row ul li, .jumbotrone ul li {
  display: inline-block;
  list-style-type: none;
}
.jumbotrone img {
  margin-top: 50px;
  height: 200px;
  width: auto;
}
h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.divide-line {
  width: 100px;
  padding: 0 20px;
  display: inline-block;
}

.divide-line , .fas .fa-star{
  vertical-align: middle;
  color: white;
}


/* regole main */

/* sezione 1 - portfolio */

#sec1 .portfolio-img i:hover{
  display: inline-block;
}

#sec1 .portfolio-img {
}

#sec1 .portfolio-img img {
  padding: 20px;
  height: 300px;
  width: auto;
}


/* sezione 2 */

#sec2 {
background-color: #1abc9c;
}

#sec2 .section-title {
  margin: 30px;
}

#sec2 p {
  padding: 20px 0;
  color: white;
}
#sec2 > div {
  text-align: center;
}

#sec2 > div button {
  background-color: rgba(255, 0, 0, 0.0);
  color: white;
  margin-bottom: 30px;
}

/* sezione 3 */

#sec3 .section-title , #sec1 .section-title {
  color: #345;
}

#sec3 form .form-ms-control{
border: 0;
border-bottom: 1px solid #ccc;
width: 100%;
padding: 30px 0;
}

#sec3 button {
  background-color: #1abc9c;
  margin: 10px 0;
  color: white;
}


footer {
  margin-top: 100px;
  background-color: lightblue;
}
footer .contenitore [class*="col-"] {
  height: 150px;
  background-color: lightpink;
}
